.mapContainer {
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Custom Marker Styles */
.customMarker {
    background: transparent;
    border: none;
}

.markerCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transition: transform 0.2s;
}

.markerCircle:hover {
    transform: scale(1.2);
}

.userLocationMarker {
    background-color: #2563eb;
    border: 2px solid white;
    box-shadow: 0 0 0 10px rgba(37, 99, 235, 0.2);
    border-radius: 50%;
    width: 16px;
    height: 16px;
}


.pulse .markerCircle {
  animation: pulse 1.5s infinite;
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.6);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(239, 68, 68, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
  }
}
